
/* Normalice */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
 }

a{
    text-decoration: none;
    color: rgb(17, 0, 0);
 }

/*/////////////////////////////////*/
/*empieza el header*/

.header{
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    margin: auto;
}


.header .nav li{
    list-style-type: none   ;
    font-weight: bold;
    display: inline-block;
    margin-right: 30px;
    padding: 10px;
    background-color: rgb(173, 152, 152);
      
}

/*fin del header*/



h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 75px;
    text-align: center;
}

h2{
    color: red;
    font-style: oblique;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}

.foto-principal {
    width: 1350px;
    height: 700px;
    
}

.fotos-productos {
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    flex-basis: content;
    justify-content: center;
    gap: 2rem;
    margin: 2rem auto;
    
}

.fotos-menu {
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    justify-content: center;
    gap: 2rem;
    margin: 2rem auto;

}

.horario-mapa{
   
    display: flex;
    justify-content: center;
    margin: 50px;

}

.historia {
    text-align: center;
    font-size: x-large;
    font-family: initial;
    line-height: 150%;
   
}

/*//////////////////////////////////*/
/*Empieza el footer*/

.pie-de-pagina {
    font-style: italic;

    
}

.redes{
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    border-top: 1px solid #fff;
    list-style-type: none;  
    
}

.instagram img{
    width: 30px;
    height: 30px;
}


.facebook img{
    width: 30px;
    height: 30px;
}